PORT=5000
SUPABASE_URL=https://avacwmhyrcqlbcwpblyk.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF2YWN3bWh5cmNxbGJjd3BibHlrIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4ODA0NzgwOSwiZXhwIjoyMTAzNjIzODA5fQ.4wiiN8JYNzlvx7Jl3ZREG6uvR_H0W0dibLjHz7cvAY4
CLOUDINARY_URL=cloudinary://<374395139277624>:@dc5biubfq
LOG_LEVEL=info
